
.blue {
    background-color: 	#0000ff;
    color: #ffffff;
}

th, td {
    padding: 15px;
    border: 1px solid #000000;
    border-collapse:collapse;
}

table {
    border: 1px solid #000000;
    border-collapse:collapse;
}

th {
    text-align: center;
}

span {
    font-weight: bold;
}